body {
  height: 95vh;
  font-family: "OCR A Std", monospace;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#root {
  position: relative;
  z-index: 10;
}
