.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: auto;
}

.skills-container {
  text-align: center;
  padding: 50px 20px;
  max-width: 1400px;
  width: 80%;
}

.skills-title {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: bold;
}

.skills-logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 70px;
}

.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.skills-container p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: white;
}

.skills-container h2 {
  color: white;
  padding: 10px;
  border-radius: 8px;
  display: inline;
}

.skills-middle {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.skills-middle h3 {
  color: white;
  width: 80%;
}

.skills-link {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.skills-link h3 {
  color: white;
  width: 80%;
}

.highlighted-link {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.highlighted-link:hover {
  text-decoration: underline;
}
