nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline-block;
  padding: 14px 16px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}
