.navbar-section nav {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  font-family: "Andale Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
}

.navbar-section header {
  display: flex;
  justify-content: center;
}

.logo img {
  margin-left: 40px;
  height: 60px;
  margin-top: 20px;
}

.navbar-section ul {
  list-style: none;
  padding: 0;
  margin-right: 60px;
  display: flex;
}

.navbar-section li {
  margin-left: 20px;
}

.navbar-section a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
}

.navbar-section a:hover {
  color: #007bff;
}
